body {
    padding: 20px;
    font-size: 15px;
    margin-right: 0px;
}
p, li, pre, h1, h2, h3 {
    padding: 0px;
}
p {
    display: block;
}
a {
    font-weight: 500;
    text-decoration: none;
    color: black;
    background-color: #e6edfa;
}
img {
    border-width: 1px;
    border-style: solid;
}
blockquote {
    border-width: 1px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    background-color: #f5f5f5;
    width: auto;
    max-width: 700px;
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 3px;
    margin-left: 0px;
}
.quote {
    display: table-row;
    background-color: #fffacd;
    font-family: 'IBM Plex Mono', monospace;
}
h1, h2, h3 {
    font-family: 'IBM Plex Mono', monospace;
}
blockquote, p, li, pre {
    font-family: 'Open Sans', sans-serif;
}
