
body {
    padding: 20px;
    font-size: 15px;
    margin-right: 0px;
}

a, h1, h2, h3, summary {
    font-family: 'IBM Plex Mono', monospace;
}
blockquote:not(.contents) a, body>:is(p, h1, h2, h3, h4) a {
    font-weight: 500;
    text-decoration: none;
    color: black;
    background-color: #e6edfa;
}
blockquote.contents a {
    font-weight: 500;
    text-decoration: none;
    color: black;
    background-color: none;
}
.quote {
    display: table-row;
    background-color: #fffacd;
    font-family: 'IBM Plex Mono', monospace;
}
.contents {
    background-color: #d4ffd0;
    font-family: 'IBM Plex Mono', monospace;
    min-width: 100px;
    max-width: 400px;
}
blockquote, p, li, pre, details > p, details > details > p {
    font-family: 'Open Sans', sans-serif;
}
td > * {
    font-size: 15px;
}
p, li, pre, h1, h2, h3 {
    padding: 0px;
    white-space: normal;
}
p {
    display: block;
}
img {
    border-width: 1px;
    border-style: solid;
}
blockquote {
    border-width: 1px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    background-color: #f5f5f5;
    width: auto;
    min-width: 100px;
    max-width: 700px;
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 3px;
    margin-left: 0px;
}

details > p, details > details, details > details > summary, details > details > p, details > img {
    margin-left: 15px;
}

table {
    border-collapse: collapse;
}

td {
    border: none;
    padding: 8px; 
}
